#top-nav {
  display: flex;
  width: 100%;
  height: auto;
}

.nav-left,
.nav-right {
  flex: 1;
  display: flex;
  justify-content: center; /* centrirano horizontalno */
  gap: 0.5rem;
  padding: 1rem 0;
}

.nav-left {
  background-color: black;
}

.nav-right {
  background-color: white;
}
.nav-left a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.nav-right a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
